{#
/**
 * @file iteration_enrollment.html.twig
 * Default theme implementation to present Iteration enrollment data.
 *
 * This template is used when viewing Iteration enrollment pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_iteration_enrollment()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('event_enrollment') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
